<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BombRush.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <BombRush.Properties.Settings>
            <setting name="MultiplayerPort" serializeAs="String">
                <value>11175</value>
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiplayerWins" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Player1Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Player2Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Player3Config" serializeAs="String">
                <value />
            </setting>
            <setting name="Player4Config" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiPlayerMatchTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PlayerNetConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>2D</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
        </BombRush.Properties.Settings>
    </userSettings>
</configuration>
